html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

/* Write your solution here */
@media (max-width: 1100px) and (min-width: 400px) {
  img {
    position: fixed;
    top: 0px;
    right: 120px;
  }
}
